##############################
# Files/File-pattern to ignore
##############################
*.7z
*.bak
*.bz2
*.bzip
*.cab
*.class
*.com
*.deb
*.dll
*.dmg
*.ear
*.egg
*.exe
*.gem
*.gz
*.idea
*.iml
*.ipr
*.iso
*.iws
*.jar
*.launch
*.lck
*.lzma
*.msi
*.msm
*.msp
*.o
*.orig
*.rar
*.rej
*.rpm
*.so
*.spec.mod
*.sublime-*
*.swp
*.tar
*.tmp
*.un~
*.war
*.xpi
*.xz
*.zip
*~
*~.nib
*.mf

.buildpath
.classpath
.cproject
.directory
.DS_Store*
.gradle
.hidden
.jslint.*
.loadpath
.m2
.metadata
.netrwhist
.nfs*
.project
.svn
.target
.texlipse
.settings
.#*
work/
/java/DataStruct/nbproject/private/
/java/DataStruct/build/
/cpp/DataStruct/build/
/cpp/DataStruct/dist/
/IntFrontEnd/nbproject/private/